<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>My todo List</h1>
	<main id="lul">
		<section class="todoList">
			<h2>Existing Tasks</h2>
			<todo-list :todo-items="todoItems"></todo-list>
		</section>

		<aside>
			<form action="" v-on:submit.prevent = "addTodoItem">
				<h1>Add new task</h1>
				<label>
					Task name: <input v-model="itemTemplate.task" type="text" value=""/>
				</label>
				<label>
					Status:
					<select v-model="itemTemplate.status">
						<option>Todo</option>
						<option>In Progress</option>
					</select>
				</label>
				<label>
					Task name: <input v-model="itemTemplate.priority" type="text" value=""/>
				</label>
				<input type="submit" value="Add"/>
			</form>
		</aside>
	</main>

<script src="vue.js"></script>
<script src="script.js"></script>
</body>
</html>