*{
	padding: 0;
	margin: 0;
}
body{
	font: 300 16px Arial
}
h1{
	text-align: center;
}
main{
	display: flex;
	flex-wrap: wrap;
}
.todoList{
	flex-basis: 50%;
}
ul{
	list-style: none;
}
ul li{
	width: 200px;
	height: 200px;
	border: 1px solid black;
}
input[readonly]{
	background-color: white;
	border: 1px solid red;
}